<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sendungsverfolgung</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-orange.min.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://rawgit.com/krampstudio/aja.js/master/src/aja.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script defer src="/index.js"></script>
</head>
<body>
    <main>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar mdl-shadow--2dp" id="tabs">
                <a href="#user-panel" class="mdl-tabs__tab is-active">Benutzeransicht</a>
                <a href="#staff-panel" class="mdl-tabs__tab">Mitarbeiteransicht</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="user-panel">
                <div class="container section">
                    <div class="mdl-card mdl-shadow--2dp card-style">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Sendung verfolgen</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <span>
                                <b>Sendungsnummer</b>
                            </span>
                            <form id="track">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" pattern="HMS[0-9]+" id="trackNumber" value="HMS1520801121">
                                    <label class="mdl-textfield__label" for="trackNumber">HMS3559559810</label>
                                </div>
                            </form>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <button type="submit" form="track" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Suchen
                            </button>
                        </div>
                    </div>
        
                    <div class="mdl-card mdl-shadow--2dp card-style" id="progressCard">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Fortschritt</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>
                                <b>Sendungsverfolgungsnummer: </b><span id="trackingNumber"></span><br>
                                <b>Einreichungsdatum: </b><span id="date"></span><br>
                                <b>Sender Postleitzahl: </b><span id="senderPostCode"></span><br>
                                <b>Empfänger Postleitzahl: </b><span id="receiverPostCode"></span><br>
                                <b>Paketgröße: </b><span id="packageSize"></span><br>
                                <b>Expressversendung: </b><span id="isExpress"></span><br>
                            </p>

                            <div class="center-content">
                                <span class="round-image" id="state-0">
                                    <img src="/img/package.png">
                                </span>

                                <span class="round-image" id="state-1">
                                    <img src="/img/store.png">
                                </span>

                                <span class="round-image" id="state-2">
                                    <img src="/img/transport.png">
                                </span>

                                <span class="round-image" id="state-3">
                                    <img src="/img/ontheway.png">
                                </span>

                                <span class="round-image" id="state-4">
                                    <img src="/img/delivered.png">
                                </span>
                            </div>

                            <span>
                                <h5>Nachrichtenverlauf</h5>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="staff-panel">
                <ul>
                    <li>Tywin</li>
                    <li>Cersei</li>
                    <li>Jamie</li>
                    <li>Tyrion</li>
                </ul>
            </div>
        </div>
    </main>  

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <span>Copyright © 2018 Daniel Däschle</span>
        </div>
        <div class="mdl-mini-footer__right-section">
            <a href='https://www.freepik.com/free-vector/delivery-icons-set_909369.htm'>Images designed by Freepik</a>
        </div>
    </footer>

    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</body>
</html>