<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sendungsverfolgung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="/css/material.blue-orange.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dialog-polyfill.css">
    <script src="/js/aja.min.js"></script>
    <script defer src="/js/material.min.js"></script>
    <script defer src="/js/index.js"></script>
    <script src="/js/dialog-polyfill.js"></script>
</head>
<body>
    <main>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar mdl-shadow--2dp" id="tabs">
                <a href="#user-panel" class="mdl-tabs__tab is-active">Benutzeransicht</a>
                <a href="#staff-panel" class="mdl-tabs__tab">Mitarbeiteransicht</a>
            </div>

            <!-- User page -->
            <div class="mdl-tabs__panel is-active" id="user-panel">
                <div class="container section">
                    <div class="mdl-card mdl-shadow--2dp card-style">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Sendung verfolgen</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <span>
                                <b>Sendungsnummer</b>
                            </span>
                            <form id="track">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" pattern="HMS[0-9]+" id="trackNumber">
                                    <label class="mdl-textfield__label" for="trackNumber">HMS18893918902262562234</label>
                                </div>
                            </form>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <button type="submit" form="track" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Suchen
                            </button>
                        </div>
                    </div>
        
                    <div class="mdl-card mdl-shadow--2dp card-style" id="progressCard">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Fortschritt</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>
                                <b>Sendungsverfolgungsnummer: </b><span id="trackingNumber"></span><br>
                                <b>Einreichungsdatum: </b><span id="date"></span><br>
                                <b>Sender Postleitzahl: </b><span id="senderPostCode"></span><br>
                                <b>Empfänger Postleitzahl: </b><span id="receiverPostCode"></span><br>
                                <b>Paketgröße: </b><span id="packageSize"></span><br>
                                <b>Expressversendung: </b><span id="isExpress"></span><br>
                            </p>

                            <div class="center-content">
                                <span class="round-image" id="state-0">
                                    <img src="/img/package.png">
                                </span>

                                <span class="round-image" id="state-1">
                                    <img src="/img/store.png">
                                </span>

                                <span class="round-image" id="state-2">
                                    <img src="/img/transport.png">
                                </span>

                                <span class="round-image" id="state-3">
                                    <img src="/img/ontheway.png">
                                </span>

                                <span class="round-image" id="state-4">
                                    <img src="/img/delivered.png">
                                </span>
                            </div>

                            <span>
                                <h5>Nachrichtenverlauf</h5>
                            </span>

                            <table id="history-table" class="mdl-data-table mdl-shadow--2dp center">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Postleitzahl</th>
                                        <th>Nachricht</th>
                                    </tr>
                                </thead>
                                <tbody id="history"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Staff page -->
            <div class="mdl-tabs__panel" id="staff-panel">
                <div class="container section">
                    <div class="mdl-card mdl-shadow--2dp card-style">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Paket Liste</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <ul class="mdl-list" id="package-list-container"></ul>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <button id="add-package-button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Paket hinzufügen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>  

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <span>Copyright © 2018 Daniel Däschle</span>
        </div>
        <div class="mdl-mini-footer__right-section">
            <a href='https://www.freepik.com/free-vector/delivery-icons-set_909369.htm'>Images designed by Freepik</a>
        </div>
    </footer>

    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <!-- Add package dialog -->
    <dialog class="mdl-dialog" id="add-package">
        <h4 class="mdl-dialog__title">Paket hinzufügen</h4>
        <div class="mdl-dialog__content">
            <form id="add-package-form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="new-sender-code" pattern="[0-9]*" required>
                    <label class="mdl-textfield__label" for="new-sender-code">Sender Postleitzahl</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="new-receiver-code" pattern="[0-9]*" required>
                    <label class="mdl-textfield__label" for="new-receiver-code">Empfänger Postleitzahl</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="new-date" pattern="\d{4}-\d{2}-\d{2}T(\d{2}:){2}\d{2}(\.\d{1,6})?Z" required>
                    <label class="mdl-textfield__label" for="new-date">Datum</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="new-package-size" pattern="[1-4]" required>
                    <label class="mdl-textfield__label" for="new-package-size">Paketgröße (1-4)</label>
                </div>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="new-express">
                    <input type="checkbox" id="new-express" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Express</span>
                </label>
            </form>
        </div>
        <div class="mdl-dialog__actions">
            <button type="submit" form="add-package-form" class="mdl-button">Hinzufügen</button>
            <button type="button" class="mdl-button close">Abbrechen</button>
        </div>
    </dialog>

    <!-- Update state dialog -->
    <dialog class="mdl-dialog" id="update-state">
        <h4 class="mdl-dialog__title">Status aktualisieren</h4>
        <div class="mdl-dialog__content">
            <form id="state-form">
                <input type="hidden" id="state-track-id">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="state-location-code" pattern="[0-9]*" required>
                    <label class="mdl-textfield__label" for="state-location-code">Standort Postleitzahl</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="state-message">
                    <label class="mdl-textfield__label" for="state-message">Nachricht</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="state-next-state" pattern="[1-4]" required>
                    <label class="mdl-textfield__label" for="state-next-state">Nächser Status<label>
                </div>
            </form>
        </div>
        <div class="mdl-dialog__actions">
            <button type="submit" form="state-form" class="mdl-button">Speichern</button>
            <button type="button" class="mdl-button close">Abbrechen</button>
        </div>
    </dialog>

    <!-- remove state dialog -->
    <dialog class="mdl-dialog" id="remove-package">
        <h4 class="mdl-dialog__title">Paket löschen</h4>
        <div class="mdl-dialog__content">
            <input type="hidden" id="remove-track-id">
            <p>Möchtest du das Paket wirklich löschen?</p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button submit">Ja</button>
            <button type="button" class="mdl-button close">Nein</button>
        </div>
    </dialog>
</body>
</html>