* {
    font-family: Roboto;
}

body {
    background-color: #E1F5FE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.center-content {
    display: flex;
}

.section {
    margin-top: 32px;
    margin-bottom: 32px;
}

.card-style {
    width: 100% !important;
    min-height: auto !important;
    margin: 16px 0;
}

.mdl-card__supporting-text {
    width: calc(100% - 32px);
}

.round-image {
    width: calc(20% - 56px);
    background-color: #E0E0E0;
    border-radius: 50%;
    padding: 16px;
    margin: 12px;
}

.round-image > img {
    width: 100%;
}

.mdl-list__item-primary-content,
.mdl-list__item-text-body,
.mdl-list__item--three-line,
.mdl-list__item-secondary-content {
    height: auto !important;
}

#tabs {
    background-color: white;
    border: 0;
}

#progressCard {
    display: none;
}

#history-table {
    width: 100%;
    table-layout: fixed;
}

#history-table th, #history-table td {
    text-align: start;
}

#history-table td {
    vertical-align: top;
}

#history div {
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */   
}

#history > li {
    border-bottom: 1px lightgray solid;
}

#history > li:last-child {
    border-bottom: none;
}

#package-list-container > li {
    border-bottom: 1px solid lightgray;
}

#package-list-container > li:last-child {
    border-bottom: none;
}

@media (max-width: 40.0rem) { 
    .container {
        width: calc(100% - 8px);
    }

    .section {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .round-image {
        padding: 12px;
        width: calc(20% - 32px);
        margin: 4px;
    }
}
